@model IEnumerable<salesforceInt1.Models.Salesforce1.Assistance__c>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedById)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedById)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemModstamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastActivityDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastViewedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastReferencedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact__c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date__c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description__c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provider__c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status__c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Synced__c)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedById)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModifiedById)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SystemModstamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastActivityDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastViewedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastReferencedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact__c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date__c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description__c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provider__c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status__c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Synced__c)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
